<div class="container">
  <div class="box-container">
    <div class="box">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <h2>SignUp</h2>
        <p class="title-text">Please fill in the details to create your account.</p>
        <input type="text" placeholder="Name" id="name" formControlName="name" />
        <small *ngIf="signUpForm.get('name')?.touched">
          <span *ngIf="signUpForm.get('name')?.errors?.['required']">Name is required.</span>
          <span *ngIf="signUpForm.get('name')?.errors?.['pattern']">Only letters is allowed.</span>
        </small>
        <input type="email" placeholder="Email" id="email" formControlName="email" />
        <small *ngIf="signUpForm.get('email')?.touched">
          <span *ngIf="signUpForm.get('email')?.errors?.['required']">Email is required.</span>
          <span *ngIf="signUpForm.get('email')?.errors?.['pattern']">Email is invalid.</span>
        </small>
        <select id="roles" formControlName="role">
          <option value="" disabled>Role</option>
          <option *ngFor="let role of roles_data" [ngValue]="role.role_name">
            {{ role.role_name }}
          </option>
        </select>
        <small *ngIf="!signUpForm.get('role')?.valid&&signUpForm.get('role')?.touched"
          >Role is required.</small
        >
        <input type="password" id="password" placeholder="Password" formControlName="password" />
        <small *ngIf="signUpForm.get('password')?.touched">
          <span *ngIf="signUpForm.get('password')?.errors?.['required']"
            >Password is required.</span
          >
          <span *ngIf="signUpForm.get('password')?.errors?.['minlength']"
            >Minimum 8 characters is required!.</span
          >
          <span *ngIf="signUpForm.get('password')?.errors?.['pattern']"
            >Atleast one digit and one uppercase letter is required.</span
          >
        </small>
        <input
          type="password"
          id="confirmPassword"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
        <small
          *ngIf="signUpForm.get('confirmPassword')?.touched&&signUpForm.errors?.['passwordMismatch']"
          >Passwords doesnt match.</small
        >
        <select id="department" formControlName="department">
          <option value="" disabled>Department</option>
          <option
            *ngFor="let department of departments_data"
            [ngValue]="department.department_name"
          >
            {{ department.department_name }}
          </option>
        </select>
        <small *ngIf="!signUpForm.get('department')?.valid&&signUpForm.get('department')?.touched"
          >Department is required.</small
        >
        <input type="text" placeholder="Designation" formControlName="designation" />
        <small *ngIf="!signUpForm.get('designation')?.valid&&signUpForm.get('designation')?.touched"
          >Designation is required.</small
        >
        <div class="slot-container">
          <label for="datePicker">Joining Date</label>
          <input type="date" placeholder="Date" formControlName="joiningDate" id="datePicker" />
          <small *ngIf="signUpForm.get('joiningDate')?.touched">
            <span *ngIf="signUpForm.get('joiningDate')?.errors?.['required']"
              >Joining date is required.</span
            >
            <span *ngIf="signUpForm.errors?.['invalidJoiningDate']"
              >Joining Date must be behind or forward of 3 months.</span
            >
          </small>
        </div>
        <input
          type="text"
          placeholder="Medical Registration Number"
          formControlName="medicalRegistrationNo"
          *ngIf="signUpForm.get('role')?.value == 'Doctor' || signUpForm.get('role')?.value == 'Nurse'"
        />
        <small *ngIf="signUpForm.get('medicalRegistrationNo')?.touched">
          <span
            *ngIf="!signUpForm.get('medicalRegistrationNo')?.value&&signUpForm.get('role')?.value==='Doctor'"
            >medical registration number is required</span
          >
          <span *ngIf="signUpForm.get('medicalRegistrationNo')?.errors?.['pattern']"
            >Only letters and numbers is allowed.</span
          >
        </small>
        <select
          id="specialization"
          formControlName="specialization"
          *ngIf="signUpForm.get('role')?.value =='Doctor'"
        >
          <option value="" disabled>Specialization</option>
          <option
            *ngFor="let specialization of specializations_data"
            [ngValue]="specialization.specialization_name"
          >
            {{ specialization.specialization_name }}
          </option>
        </select>
        <input
          type="text"
          placeholder="Qualification"
          formControlName="qualification"
        />
        <small *ngIf="signUpForm.get('qualification')?.touched">
          <span *ngIf="signUpForm.get('qualification')?.errors?.['pattern']"
            >Only letters and white space is allowed.</span
          >
          <span *ngIf="signUpForm.get('qualification')?.errors?.['required']"
            >qualification is required.</span
          >
        </small>
        <input
          type="number"
          placeholder="Consultation Fee"
          formControlName="consultationFee"
          *ngIf="signUpForm.get('role')?.value == 'Doctor'"
        />
        <small
          *ngIf="signUpForm.get('consultationFee')?.errors?.['pattern']&&signUpForm.get('consultationFee')?.touched"
          >Only digits is allowed.</small
        >
        <div class="slot-container" *ngIf="signUpForm.get('role')?.value == 'Doctor'">
          <label for="slot-container">Select Time Slots</label>
          <select id="startTime" formControlName="startHour">
            <option value="" disabled>Start Hour</option>
            <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
          </select>
          <select id="endTime" formControlName="endHour">
            <option value="" disabled>End Hour</option>
            <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
          </select>
          <small *ngIf="signUpForm.errors?.['invalidTimeRange']"
            >Start hour must be less than end hour.</small
          >
           <small *ngIf="signUpForm.errors?.['sameTimeRange']"
            >Start hour and end hour should not be same.</small
          >
          <input
            type="button"
            value="Generate"
            (click)="generateTimeSlots()"
            [disabled]="signUpForm.errors?.['invalidTimeRange']"
          />
        </div>
        <div class="slot-container" *ngIf="generatedSlots.length">
          <label for="slot-container">Generated Time Slots</label>
          <div class="generated-option" *ngFor="let slot of generatedSlots">
            <span>{{ slot }}</span>
            <input type="checkbox" [value]="slot" (change)="toggleSlot(slot)" />
          </div>
        </div>
        <div class="slot-container" *ngIf="signUpForm.value.availabilitySlots.length">
          <label for="slot-container">Selected Time Slots</label>
          <div class="selected-option" *ngFor="let slot of signUpForm.value.availabilitySlots">
            <label for="selected-option">{{ slot }}</label>
          </div>
        </div>
        <input type="submit" [value]="isLoading?'Processing...':'Signup'" placeholder="Signup" />
        <span class="login"
          >Already have an account? <b><a routerLink="/login">Login</a></b></span
        >
      </form>
    </div>
  </div>
  <div class="cover-image"></div>
</div>
