.sidebar {
  width: 18vw;
  height: calc(100vh - 10vh);
  background-color: var(--card-bg);
  border-right: 0.5px solid var(--border-color);
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu a {
  color: var(--text-secondary);
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 25px;
  border-radius: 10px;
  transition: 0.2s;
  font-size: 15px;
  font-weight: 500;
}

.menu a:hover {
  background-color: var(--primary-light);
  color: var(--primary);
}

.menu a.active {
  background-color: var(--primary-light);
  color: var(--primary);
  border-radius: 8px;
  font-weight: 600;
}

.menu a.active i {
  color: var(--primary);
}