<div class="card-section">

  <div class="card"
  [class.active]="selectedSection==='patients'"
  (click)="showPatients()"
  (keypress)="showPatients()"
  (keydown)="showPatients()"
  (keyup)="showPatients()">
      <h3>Total Patients</h3>
      <p>{{stats.totalPatients}}</p>
</div>
   <div class="card"
  [class.active]="selectedSection==='employees'"
  (click)="showEmployees()"
  (keypress)="showEmployees()"
  (keydown)="showEmployees()"
  (keyup)="showEmployees()">
      <h3>Total Employees</h3>
      <p>{{stats.totalEmployees}}</p>
</div>
    <div class="card"
    [class.active]="selectedSection==='pending'"
    (click)="showPendingRequests()"
    (keypress)="showPendingRequests()"
    (keydown)="showPendingRequests()"
    (keyup)="showPendingRequests()">
        <h3>Total Pending Requests</h3>
        <p>{{stats.pendingApprovals}}</p>
    </div>
    
</div>
@if (selectedSection === 'employees') {
  <div class="table-section">
    

    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Phone</th>
          <th>Department</th>
          <th>Designation</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        @for (emp of employees; track emp.employeeId) {
          <tr>
            <td>{{ emp.employeeCode }}</td>
            <td>{{ emp.firstName }} {{ emp.lastName }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.role }}</td>
            <td>{{ emp.phone }}</td>
            <td>{{ emp.department }}</td>
            <td>{{ emp.designation }}</td>
            <td>{{ emp.status }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
@if (selectedSection === 'patients') {
  <div class="table-section">
    <table>
      <thead>
        <tr>
          <th>UHID</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Gender</th>
          <th>DOB</th>
          <th>Blood Group</th>
          <th>City</th>
          <th>Created By</th>
        </tr>
      </thead>

      <tbody>
        @for (patient of patients; track patient.patientId) {
          <tr>
            <td>{{ patient.UHID }}</td>
            <td>{{ patient.firstName }} {{ patient.lastName }}</td>
            <td>{{ patient.phone }}</td>
            <td>{{ patient.gender }}</td>
            <td>{{ patient.dob }}</td>
            <td>{{ patient.bloodGroup }}</td>
            <td>{{ patient.city }}</td>
            <td>{{ patient.createdByName }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}

@if (selectedSection === 'pending') {
  <div class="table-section">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Role</th>
          <th>Department</th>
          <th>Designation</th>
          <th>Status</th>
         
        </tr>
      </thead>

      <tbody>
        @for (request of pendingRequests; track request._id) {
          <tr>
            <td>{{ request.firstName }} {{ request.lastName }}</td>
            <td>{{ request.email }}</td>
            <td>{{ request.phone }}</td>
            <td>{{ request.role }}</td>
            <td>{{ request.department }}</td>
            <td>{{ request.designation }}</td>
            <td>{{ request.approvalStatus }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}