@import url('https://fonts.cdnfonts.com/css/google-sans');
@import 'ngx-toastr/toastr';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    'Product Sans',
    'Google Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif !important;
  height: 100%;
}
