# ignore all env
.env*
# ignore installed packages
node_modules/
# idea
.idea/
# sonar qube configs
sonar-project.properties
.scannerwork/
# vscode config
.vscode/
# sonar config
sonar-project.properties