<div class="container">
  <div class="box-container">
    <div class="box">
      <h2>Login</h2>
      <p class="title-text">Please enter your credentials to access your account</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="email">Email</label>
        <input type="email" formControlName="email" placeholder="example@gmail.com" id="email" />
        <small>
          <span
            *ngIf="loginForm.get('email')?.errors?.['required']&&loginForm.get('email')?.touched"
            >email is required.</span
          >
          <span *ngIf="loginForm.get('email')?.errors?.['pattern']&&loginForm.get('email')?.touched"
            >invalid email format.</span
          >
        </small>
        <label for="password">Password</label>
        <input type="password" formControlName="password" placeholder="password" id="password" />
        <small>
          <span
            *ngIf="loginForm.get('password')?.errors?.['required']&&loginForm.get('password')?.touched"
            >password is required.</span
          >
        </small>
        <p class="forgot-password" routerLink="/forgot-password">forgot password?</p>
        <button type="submit" [disabled]="loginForm.invalid || isLoading()">
          {{isLoading()?'Logging in...':'Login'}}
        </button>
        <span class="signup"
          >Doesn't have an account? <b><a routerLink="/signUp">SignUp</a></b></span
        >
      </form>
    </div>
  </div>
  <div class="cover-image"></div>
</div>
<app-forgot-password *ngIf="isForgotPassword()"></app-forgot-password>
