<div class="reset-container">

  <div class="reset-card">

    <!-- TITLE -->

    <h2>
      Reset Password
    </h2>

    <p>
      Change your temporary password
    </p>

    <!-- ERROR -->

    <div
      class="error-message"
      *ngIf="errorMessage"
    >

      {{ errorMessage }}

    </div>

    <!-- SUCCESS -->

    <div
      class="success-message"
      *ngIf="successMessage"
    >

      {{ successMessage }}

    </div>

    <!-- FORM -->

    <form
      #resetForm="ngForm"
      (ngSubmit)="onResetPassword(resetForm)"
    >

      <!-- TEMP PASSWORD -->

      <input

        type="password"

        placeholder="Temporary Password"

        [(ngModel)]="oldPassword"

        name="oldPassword"

        required

      >

      <!-- NEW PASSWORD -->

      <input

        type="password"

        placeholder="New Password"

        [(ngModel)]="newPassword"

        name="newPassword"

        minlength="8"

        required

      >

      <!-- CONFIRM PASSWORD -->

      <input

        type="password"

        placeholder="Confirm Password"

        [(ngModel)]="confirmPassword"

        name="confirmPassword"

        required

      >

      <!-- BUTTON -->

      <button type="submit">

        Update Password

      </button>

    </form>

  </div>

</div>