<div class="change-password-container">
  <div class="change-password-box">

    <h2>Change Password</h2>
    <p class="subtitle">You must change your temporary password before continuing.</p>

    <form (ngSubmit)="changePassword()">

      <input
        type="password"
        name="oldPassword"
        placeholder="Enter old password"
        [(ngModel)]="oldPassword"
      />

      <input
        type="password"
        name="newPassword"
        placeholder="Enter new password"
        [(ngModel)]="newPassword"
      />

      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirm new password"
        [(ngModel)]="confirmPassword"
      />

      @if (errorMessage) {
        <p class="error">{{ errorMessage }}</p>
      }

      @if (message) {
        <p class="success">{{ message }}</p>
      }

      <button type="submit">Change Password</button>

    </form>

  </div>
</div>